# ================
# macOS
# ================
.DS_Store
.AppleDouble
.LSOverride
._*

## User settings
xcuserdata/

# ================
# Xcode
# ================
.build
Derived

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# ================
Swift Package Manager
# ================
Packages/
Package.pins
.swiftpm
Package.resolved
.build/